*.sw?
jshon
*.o
Makefile
Makefile.orig
*DS_Store*
*.log
*.cache
*~
confdefs.h
config.h
conftest*
stamp-*
*.status
TAGS
ID
GTAGS
GRTAGS
GSYMS
GPATH
tags
cscope*.out
cscope.files
config*.lineno
*deps/*.*o
*.tab.c
*(Autosaved)*
*.tar.gz
